#header > img, #footer > img {
    width: 100%;
}


main {
    padding: 2em 0 2em 1em;
}


.img-bar-img, .gallery-img {
    margin-bottom: 1em;
}


.woodparts-nav > li > a {
    border-radius: 0px;
}
