{% if errors.__csrf_token is defined %}
<div class="alert alert-danger">{{ errors.__csrf_token }}</div>
{% endif %}

<form method="post" action="{{ __base_uri }}/{{ lang }}/contact_submit" class="form-horizontal" id="contact-form">
    <input type="hidden" name="__csrf_token" value="{{ __csrf_token }}">
    <input type="hidden" id="is_ajax" name="is_ajax" value="0">
    <input type="text" name="url" class="contact-url" value="{{ prefill.url }}">
    <div class="form-group {{ errors.name is defined ? 'has-error': '' }}">
        <label for="name" class="col-sm-4">{{ strings.field_name }}</label>
        <div class="col-sm-8">
            <input type="text" id="name" name="name" class="form-control" value="{{ prefill.name }}" autofocus required>
            {% if errors.name is defined %}
                <span class="help-block">{{ errors.name }}<span>
            {% endif %}
        </div>
    </div>
    <div class="form-group {{ errors.email is defined ? 'has-error': '' }}">
        <label for="email" class="col-sm-4">{{ strings.field_email }}</label>
        <div class="col-sm-8">
            <input type="email" id="email" name="email" class="form-control" value="{{ prefill.email }}" required>
            {% if errors.email is defined %}
                <span class="help-block">{{ errors.email }}<span>
            {% endif %}
        </div>
    </div>
    <div class="form-group {{ errors.subject is defined ? 'has-error': '' }}">
        <label for="subject" class="col-sm-4">{{ strings.field_subject }}</label>
        <div class="col-sm-8">
            <input type="text" id="subject" name="subject" class="form-control" value="{{ prefill.subject }}" required>
            {% if errors.subject is defined %}
                <span class="help-block">{{ errors.subject }}<span>
            {% endif %}
        </div>
    </div>
    <div class="form-group {{ errors.message is defined ? 'has-error': '' }}">
        <label for="message" class="col-xs-12">{{ strings.field_message }}</label>
        <div class="col-xs-12">
            <textarea id="message" name="message" class="form-control" rows="4" minlength="3" required>{{ prefill.message }}</textarea>
            {% if errors.message is defined %}
                <span class="help-block">{{ errors.message }}<span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary">{{ strings.submit }}</button>
            <img id="ajax-spinner" src="{{ __base_uri }}/data/img/ajax-spinner.gif" alt="">
        </div>
    </div>
</form>
<script src="{{ __base_uri }}/js/contact.js"></script>
<script>
    !function($) {
        $(document).ready(function() {
            wp.contact.init();
        });
    }(jQuery);
</script>
