{% extends "base.html" %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}
<main>
    <div class="row">
        <div class="col-xs-2">
            {{ __widgets.img_bar.get_html|raw }}
        </div>
        <div class="col-xs-10">
           <div class="row">
               <div class="col-xs-12 col-sm-5">
                   {{ strings.promo_text }}
               </div>
               <div class="col-xs-12 col-sm-5">
                    <img class="front-logo" alt='WOODparts Finland' src="{{ logo_url }}" id="footer-img">
               </div>
               <div class="hidden-sm hidden-xs col-md-2">
                    {{ __widgets.lang.get_html|raw }}
               </div>
               <div class="col-xs-12 hidden-md hidden-lg">
                    {{ __widgets.lang.get_html|raw }}
               </div>
           </div>
        </div>
    </div>
</main>
{% endblock %}
